@import "tailwindcss";

@theme {
    --color-background: #000;
    --color-foreground: #ededed;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: 'Inter', system-ui, sans-serif;
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}